.btn-shape {
    display: block;
    width: fit-content;
    padding: 15px 40px;
    border-radius: 30px;
    border: 2px solid transparent;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    &.blue {
        background-color: $btn-bg;
        color: $white;
        border: $btn-bg;
        &:hover {
            background-color: $bg-55;
        }
    }
}
button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
}