/* start landing rules */
.landing {
    @media (min-width: 768px) {
        padding-top:calc(60 + 74);
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0 !important;
    }
    margin-top: 74px;
    .container {
        h1 {
            font-size: 40px;
            font-weight: 700;
            color: $white;
            text-transform: capitalize;
            letter-spacing: .5px;
            text-align: center;
            margin: 0 auto 30px;
            max-width: 600px;
        }
        p {
            max-width: 600px;
            color: $white;
            text-align: center;
            margin: 0 auto 30px;
        }
        .crypto-currency {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            flex-wrap: wrap;
            margin-bottom: 30px;
            .crypto-icon {
                cursor: pointer;
            }
        }
        a {
            margin: 0 auto;
        }
    }
}
/* end landing rules */

/* strat our-clients rules */
.our-clients {
    background-color: $main-bg;
    position: relative;
    &::before, &::after {
        content: "";
        width: calc(100% - 40px);
        height: 1px;
        background-color: $text-color;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    &::before {
        top: 30px;
    }
    &::after {
        bottom: 30px;
    }
    .container {
        h2 {
            font-size: 22px;
            color: $white;
            text-align: center;
            margin-bottom: 30px;
        }
        .companies {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px;
            img {
                display: block;
            }
        }
    }
}
/* end our-clients rules */

/* start fatures rules */
.features {
    .container {
        .boxes {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 30px;
            .box {
                .icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    background-color: $btn-bg;
                    margin: 0 auto 30px;
                    i {
                        font-size: 30px;
                        color: $white;
                    }
                }
                h3 {
                    font-size: 25px;
                    color: $white;
                    text-transform: capitalize;
                    text-align: center;
                    margin-bottom: 20px;
                }
                p {
                    text-align: center;
                    font-size: 18px;
                }
            }
        }
    }
}
/* end fatures rules */

/* start token-sale rules */
.token-sale {
    .container {
        @media (min-width: 768px) {
            & > div {
                width: calc(50% - 15px) !important;
                flex-wrap: nowrap !important;
            }
        }
        padding: 30px 20px;
        background-color: $second-bg;
        display: flex;
        align-items: center;
        gap: 30px;
        flex-wrap: wrap;
        border-radius: 10px;
        & > div {
            width: 100%;
        }
        .info {
            h2, p {
                text-align: left !important;
                span {
                    text-align: left !important;
                }
            }
            ul {
                li {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    margin-bottom: 15px;
                    .bull {
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        display: block;
                    }
                    span {
                        font-size: 18px;
                        color: $text-color;
                        font-weight: 500;
                    }
                }
            }
        }
        .image {
            img {
                max-width: 100%;
                display: block;
                margin: 0 auto;
            }
        }
    }
}
/* start token-sale rules */

/* start road-map rules */
.road-map {
    border-bottom: 1px solid $text-color;
    .container {
        .boxes {
            @media (min-width: 922px) {
                position: relative;
                &::before {
                    content: "";
                    width: 1px;
                    height: 100%;
                    background-color: $text-color;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            .box {
                position: relative;
                @media (min-width: 922px) {
                    margin-bottom: 0 !important;
                    max-width: 400px;
                    &::before {
                        content: "";
                        width: 16px;
                        height: 16px;
                        background-color: $box-bg;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%) rotate(45deg);
                        right: -8px;
                    }
                    &::after {
                        content: "";
                        width: 10px;
                        height: 10px;
                        background-color: $white;
                        border: 5px solid $text-color;
                        border-radius: 50%;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%) rotate(45deg);
                        right: -35px;
                    }
                    &.left {
                        &::before {
                            right: unset;
                            left: -8px;
                        }
                        &::after {
                            right: unset;
                            left: -35px;
                        }
                    }
                    &.left {
                        margin-left: calc(50% + 40px);
                    }
                    &.right {
                        margin-left: calc(50% - 440px);
                        h3, p {
                            text-align: right;
                        }
                        a {
                            margin-left: auto;
                        }
                    }
                }
                padding: 30px 20px;
                background-color: $box-bg;
                border-radius: 6px;
                margin-bottom: 20px;
                h3 {
                    font-size: 22px;
                    color: $white;
                    text-transform: capitalize;
                    margin-bottom: 25px;
                }
                p {
                    margin-bottom: 20px;
                }
                a {
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    font-size: 15px;
                    color: $text-color;
                    font-weight: 600;
                    background-color: $white;
                    padding: 10px 20px !important;
                    img {
                        display: block;
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                    }
                    span {
                        display: block;
                        font-size: 12px;
                        font-weight: 300;
                        i {
                            color: $green;
                        }
                    }
                }
            }
        }
    }
}
/* end road-map rules */

/* strat team rules */
.team {
    .container {
        .members {
            display: grid;
            grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
            gap: 20px;
            .member {
                padding: 10px 10px 30px 10px;
                border-radius: 6px;
                background-color: $box-bg;
                border-bottom: 5px solid transparent;
                transition: .3s;
                &:hover {
                    border-bottom-color: $btn-bg;
                }
                img {
                    display: block;
                    width: 100%;
                    margin-bottom: 20px;
                    border-radius: 4px;
                }
                h3 {
                    text-align: center;
                    text-transform: capitalize;
                    font-size: 20px;
                    color: $white;
                    margin-bottom: 20px;
                }
                p {
                    text-align: center;
                    margin-bottom: 10px;
                }
                .media {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;
                    a {
                        display: block;
                        i {
                            font-size: 20px;
                            color: $white;
                            transition: .3s;
                        }
                        &:hover {
                            i {
                                color: $blue;
                            }
                        }
                    }
                }
            }
        }
    }
}
/* end team rules */

/* start testimonials rules */
.testimonials {
    background-color: $second-bg;
    .container {
        .reviews {
            display: flex;
            gap: 25px;
            flex-wrap: wrap;
            .review {
                @media (min-width: 768px) {
                    width: calc(50% - 15px) !important;
                }
                width: 100%;
                padding: 30px;
                border-radius: 6px;
                background-color: $box-bg;
                .profile {
                    display: flex;
                    align-items: center;
                    margin-bottom: 30px;
                    gap: 15px;
                    img {
                        display: block;
                        width: 80px;
                        height: 80px;
                        border-radius: 4px;
                    }
                    .info {
                        h3 {
                            font-size: 20px;
                            text-transform: capitalize;
                            color: $white;
                            margin-bottom: 10px;
                        }
                        h4 {
                            font-size: 16px;
                            font-weight: 600;
                            color: $white;
                            text-transform: capitalize;
                        }
                    }
                }
            }
        }
    }
}
/* end testimonials rules */

/* start our-app rules */
.our-app {
    position: relative;
    .container {
        @media (min-width: 768px) {
            flex-wrap: nowrap;
            & > div {
                width: calc(50% - 30px) !important;
                gap: 60px !important;
            }
        }
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        & > div {
            width: 100%;
        }
        .info {
            .pattern {
                h2, span, p {
                    text-align: left !important;
                }
            }
            .stores {
                @media (max-width: 500px) {
                    flex-wrap: wrap;
                }
                display: flex;
                align-items: center;
                gap: 20px;
                a {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 18px;
                    color: $white;
                    text-transform: capitalize;
                    font-weight: 600;
                    border: 1px solid $second-bg;
                    padding: 10px 25px !important;
                    span {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        i {
                            font-size: 20px;
                        }
                    }
                    &.apple-store {
                        background-color: $second-bg;
                        span {
                            background-color: $btn-bg;
                            i {
                                color: $white;
                            }
                        }
                        &:hover {
                            border-color: $btn-bg;
                        }
                    }
                    &.google-store {
                        span {
                            background-color: $white;
                            i {
                                color: $main-bg;
                            }
                        }
                        &:hover {
                            background-color: $second-bg;
                        }
                    }
                }
            }
        }
        .app {
            .phone-shape {
                position: relative;
                padding: 40px 15px;
                background-color: $white;
                border: 3px solid $text-color;
                border-radius: 20px;
                width: 260px;
                margin: 0 auto;
                .head {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 30px;
                    .logo {
                        font-size: 20px;
                        text-transform: capitalize;
                        font-weight: 600;
                        color: $dark;
                    }
                    button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        i {
                            font-size: 20px;
                            color: $dark;
                        }
                    }
                }
                .titles {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    margin-bottom: 10px;
                    span {
                        display: block;
                        font-size: 14px;
                        font-weight: 500;
                        text-transform: capitalize;
                        color: $text-color;
                        padding-bottom: 5px;
                        position: relative;
                        cursor: pointer;
                        transition: .3s;
                        &::before {
                            content: "";
                            width: 15px;
                            height: 2px;
                            background-color: $white;
                            position: absolute;
                            left: 0;
                            top: 100%;
                            transition: .3s;
                        }
                        &.active {
                            color: $btn-bg;
                            &::before {
                                background-color: $btn-bg;
                            }
                        }
                        &:hover {
                            color: $btn-bg;
                            &::before {
                                background-color: $btn-bg;
                            }
                        }
                    }
                }
                .more-info {
                    display: flex;
                    gap: 10px;
                    margin-bottom: 30px;
                    .coin {
                        position: relative;
                        height: 215.92px;
                        &.full {
                            width: calc(75% - 10px);
                            img {
                                display: block;
                                width: 100%;
                                border-radius: 6px;
                            }
                        }
                        &.half {
                            width: 25%;
                            overflow: hidden;
                            img {
                                display: block;
                                // width: 100%;
                                height: 100%;
                                border-radius: 6px 0 0 6px;
                            }
                        }

                        .info-coin {
                            position: absolute;
                            bottom: 20px;
                            left: 15px;
                            h3 {
                                font-size: 15px;
                                text-transform: capitalize;
                                color: $white;
                                font-weight: 500;
                                margin-bottom: 5px;
                            }
                            h4 {
                                font-size: 12px;
                                font-weight: 200;
                                color: $white;
                            }
                        }
                    }
                }
                .featured-currency {
                    h3 {
                        font-size: 15px;
                        text-transform: capitalize;
                        color: $main-bg;
                        font-weight: 500;
                        margin-bottom: 15px;
                    }
                    .currencies {
                        display: flex;
                        gap: 10px;
                        .currency {
                            width: calc(33.33% - 6px);
                            border-radius: 3px;
                            padding: 5px;
                            &.blue {
                                background-color: $blue;
                            }
                            &.red {
                                background-color: $red;
                            }
                            &.dark {
                                background-color: $dark;
                            }
                            .icon {
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;
                                margin: 0 auto 10px;
                            }
                            p {
                                font-size: 12px;
                                font-weight: 200;
                                color: $white;
                                text-align: center;
                            }
                        }
                    }
                }
                .alert {
                    @media (min-width: 768px) and (max-width: 921px) {
                        display: none !important;
                    }
                    @media (max-width: 550px) {
                        display: none !important;
                    }
                    position: absolute;
                    padding: 10px 15px;
                    border-radius: 15px;
                    background-color: $light-bg;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    .details {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        font-size: 15px;
                        text-transform: capitalize;
                        color: $dark;
                        font-weight: 600;
                        span {
                            display: flex;
                            align-items: center;
                            gap: 2px;
                            flex-wrap: nowrap;
                            font-size: 10px;
                            color: $text-color;
                            font-weight: 300;
                            i {
                                color: $green;
                                font-size: 12px;
                            }
                        }
                    }
                    &.bitcoin {
                        top: 30%;
                        right: calc(100% - 60px);
                    }
                    &.polygon {
                        bottom: 60%;
                        left: calc(100% - 60px);
                    }
                }
            }
        }
    }
}
/* end our-app rules */

/* start asked questions */
.faq {
    background-color: $second-bg;
    .container {
        .panels {
            max-width: 800px;
            margin: 0 auto;
            .panel {
                padding: 30px 25px;
                background-color: $box-bg;
                border-radius: 6px;
                margin-bottom: 20px;
                h3 {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    font-size: 22px;
                    color: $white;
                    text-transform: capitalize;
                    cursor: pointer;
                    transition: .3s;
                    span {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 15px;
                        height: 15px;
                        background-color: #ccc;
                        border-radius: 2px;
                        transition: .3s;
                        i {
                            font-size: 14px;
                            color: $dark;
                            transition: .3s;
                            &.hide {
                                display: none;
                            }
                        }
                    }
                    &:hover, &.active {
                        color: $btn-bg;
                        span {
                            background-color: $btn-bg;
                            i {
                                color: $white;
                            }
                        }
                    }
                }
                p {
                    margin-top: 20px;
                    &.hide {
                        display: none;
                    }
                }
            }
        }
    }
}
/* start asked questions */

/* strat news rules */
.news {
    .container {
        .boxes {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 25px;
            .box {
                border-radius: 6px;
                background-color: $second-bg;
                img {
                    display: block;
                    width: 100%;
                    border-radius: 6px 6px 0 0;
                }
                .info {
                    padding: 30px 20px;
                    border-radius: 0 0 6px 6px;
                    .publication-info {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        font-size: 18px;
                        text-transform: capitalize;
                        color: $text-color;
                        font-weight: 500;
                        margin-bottom: 10px;
                        i {
                            font-size: 16px;
                            color: $white;
                        }
                    }
                    h3 {
                        font-size: 20px;
                        text-transform: capitalize;
                        color: $white;
                        margin-bottom: 20px;
                        cursor: pointer;
                        transition: .3s;
                        &:hover {
                            color: $btn-bg;
                        }
                    }
                }
            }
        }
    }
}
/* end news rules */

/* start contact rules */
.contact {
    background-color: $second-bg;
    .container {
        @media (min-width: 768px) {
            flex-wrap: nowrap !important;
            align-items: center;
            .static-info {
                width: 60% !important;
            }
            .form {
                width: calc(40% - 30px);
            }
        }
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        .static-info {
            width: 100%;
            .pattern {
                h2 {
                    text-align: left;
                    span {
                        text-align: left;
                    }
                }
            }
            .contact-us {
                & > div {
                    @media (max-width: 500px) {
                        flex-wrap: wrap;
                    }
                    display: flex;
                    // justify-content: space-between;
                    gap: 30px;
                    margin-bottom: 30px;
                    & > div {
                        width: 300px !important;
                    }
                    h3 {
                        font-size: 20x;
                        text-transform: capitalize;
                        font-weight: 600;
                        color: $white;
                        margin-bottom: 20px;
                    }
                    p {
                        margin-bottom: 10px;
                    }
                }
            }
        }
        .form {
            width: 100%;
            padding: 30px 20px;
            background-color: $box-bg;
            border-radius: 10px;
            h3 {
                font-size: 22px;
                color: $white;
                text-transform: capitalize;
                font-weight: 600;
                margin-bottom: 30px;
            }
            form {
                .form-control{
                    margin-bottom: 20px;
                    label{
                        display: block;
                        font-size: 16px;
                        text-transform: capitalize;
                        color: $white;
                        font-weight: 600;
                        margin-bottom: 6px;
                    }
                    .field {
                        display: block;
                        width: 100%;
                        padding: 15px 20px;
                        border: 1px solid $text-color;
                        border-radius: 6px;
                        font-size: 16px;
                        color: $text-color;
                        caret-color: $text-color;
                        font-weight: 600;
                        letter-spacing: .5px;
                        background-color: $second-bg;
                        &::placeholder {
                            font-size: 16px;
                            color: $text-color;
                            caret-color: $text-color;
                            font-weight: 600;
                            letter-spacing: .5px;
                            text-transform: capitalize;
                            transition: opacity .3s;
                        }
                        &:focus {
                            border-color: $btn-bg;
                            &::placeholder {
                                opacity: 0;
                            }
                        }
                    }
                    textarea {
                        height: 120px;
                    }
                }
                .submit {
                    background-color: $white;
                    border: 2px solid $white;
                    color: $dark;
                    cursor: pointer;
                    width: 100%;
                    &:hover {
                        background-color: $btn-bg;
                        color: $white;
                    }
                }
            }
        }
    }
}
/* end contact rules */

/* start news-letter rules */
.news-letter {
    .container {
        @media (min-width: 768px) {
            flex-wrap: nowrap;
            & > div {
                width: calc(50% - 15px) !important;
            }
            form {
                width: calc(50% - 15px) !important;
            }
        }
        background-color: $box-bg;
        padding: 30px 20px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
        div {
            width: 100%;
            h2 {
                font-size: 40px;
                font-weight: 700;
                color: $white;
                text-transform: capitalize;
                margin-bottom: 20px;
            }
            p {
                font-size: 18px;
                color: $white;
            }
        }
        form {
            @media (min-width: 768px) and (max-width: 963px) {
                input {
                    width: calc(100% - 90px) !important;
                }
                button {
                    padding-left: 20px;
                    padding-right: 20px;
                    i {
                        display: none;
                    }
                }
            }
            @media (min-width: 501px) {
                padding: 5px 5px 5px 40px;
                background-color: $white;
                border-radius: 30px;
                input {
                    flex: 1;
                }
                button {
                    display: flex;
                    align-items: center;
                    flex-wrap: nowrap;
                }
            }
            @media (max-width: 500px) {
                flex-wrap: wrap !important;
                gap: 10px;
                input {
                    width: 100%;
                    padding: 15px 40px;
                    background-color: $white;
                    border-radius: 6px;
                }
                button {
                    width: 100%;
                    border-radius: 6px !important;
                }
            }
            width: 100%;
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            input {
                display: block;
                font-size: 16px;
                font-weight: 500;
                color: $text-color;
                &::placeholder {
                    font-size: 16px;
                    font-weight: 500;
                    color: $text-color;
                    text-transform: capitalize;
                    transition: .3s;
                }
                &:focus {
                    &::placeholder {
                        opacity: 0;
                    }
                }
            }
            button {
                display: block;
                font-size: 16px;
                font-weight: 500;
                i {
                    color: $white;
                    font-size: 14px;
                }
            }

        }
    }
}
/* end news-letter rules */