$family: 'Inter', sans-serif;

// color:
$main-bg:#080321;
$second-bg: #14102C;
$box-bg: #131B4D;
$btn-bg: #3E7DFF;
$bg-20: #8696CA;
$bg-38: #8BA6FF;
$bg-55: #2347B9;
$bg-73: #3E7DFF;

// nav bg and drop down bg
$nav-bg: #080321;

// 
$text-color: #838397;
$white: #fff;

// 
$violet: #8247E5;
$yellow:#F7931A;
$blue: #295ADA;
$red: #F14E51;
$dark: #24292F;
$green: #3DAD4F;
$light-bg: #EDEDEF;